body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    position: relative;
}

canvas {
    display: inherit;
}

#monitor {
    margin-left: 20px;
}

#control-panel {
    position: absolute;
    width: 400px;
    right: 10px;
    top: 10px;
}

